# Parse with misc/ebin/config_file:parse("dns.config").

# default Port is 4567
Port 3456

# TTL is given in seconds (default 120)
TTL  121

Netmask 150.236.14.0/24 2.3.4.5 \
	172.30.128.0/24
Netmask www.ericsson.se/1

# hejsan

Domain www.bistromath.se \
	zaphod.bistromath.se
Domain w.**.* \
	a.b.c.d \
	e.f.g.h
Domain x*y.*.se
