[{kernel,
  [{error_logger, 
    {file, "/home/share/magnus/dns_server/releases/test_rel/error_logger.log"}}]},
 {sasl,
  [{sasl_error_logger, 
    {file, "/home/share/magnus/dns_server/releases/test_rel/sasl_error_logger.log"}}]},
 {dns_server, 
%  [{boot, "/home/share/magnus/dns_server/domain/named.boot"},
  [{boot, "/etc/named.boot"},
%   {port, 53},
%   {ip, {150,236,14,232}},
   {cache_dir, "/home/share/magnus/dns_server/releases/test_rel"},
   {load_balance, ["www.bistromath.se"]}]}].
